.button {
  --scale: 1;
  font-weight: bold;
  padding: 1em 2em;
  border-radius: 0.2em;
  color: var(--other-color);
  background-color: var(--main-color);
  border: 1px solid var(--main-color);
  cursor: pointer;
}

.button.outlined {
  color: var(--main-color);
  background-color: var(--other-color);
}

.button:hover {
  filter: hue-rotate(10deg);
}

.button:active {
  filter: hue-rotate(0deg);
}
