:root {
  --font-family: "sf pro text", -apple-system, BlinkMacSystemFont, Roboto,
    "segoe ui", Helvetica, Arial, sans-serif, "apple color emoji",
    "segoe ui emoji", "segoe ui symbol";
  --primary-color: #ec5252;
  --secondary-color-1: #094c59;
  --secondary-color-2: #0f7c90;
  --page-padding: 5vw;
}
